{
  "reporter": ["lcov", "text", "text-summary"],
  "include": ["lib/**/*.ts"],
  "exclude": [],
  "check-coverage": true,
  "all": true,
  "branches": 30,
  "functions": 70,
  "lines": 70,
  "statements": 70
}
